@font-face {
    font-family: "yekanBakh-Regular";
    src: url('../fonts/YekanBakhFaNum-Regular.woff') format("woff");
}

@font-face {
    font-family: "yekanBakh-Bold";
    src: url('../fonts/YekanBakhFaNum-Bold.woff') format("woff");
}

html {
    scroll-behavior: smooth;
    direction: rtl;
}

body {
    font-family: "yekanBakh-Regular";
    user-select: none;
    overflow-x: hidden;
}

.font-bold {
    font-family: "yekanBakh-Bold";
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}

/* border */
.border-main {
    border: 1px solid #D98614;
}
.border-main-hover:hover {
    border: 1px solid #D98614;
}
.border-b-main-6 {
    border-bottom: 6px solid #D98614;
}
/* border-radius */

.rounded-tr-0 {
    border-top-right-radius: 0px !important;
}

.rounded-bl-0 {
    border-bottom-left-radius: 0px !important;
}

.rounded-3 {
    border-radius: 3px;
}

.rounded-5 {
    border-radius: 5px;
}

.rounded-t-5 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.rounded-7 {
    border-radius: 7px;
}

.rounded-9 {
    border-radius: 9px;
}
.rounded-10 {
    border-radius: 10px;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-18 {
    border-radius: 18px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-22 {
    border-radius: 22px;
}

.rounded-23 {
    border-radius: 23px;
}

.rounded-25 {
    border-radius: 25px;
}

.rounded-t-25 {
    border-radius: 25px 25px 0 0;
}

.rounded-b-26 {
    border-radius: 0 0 26px 26px;
}

.rounded-30 {
    border-radius: 30px;
}

.rounded-t-33 {
    border-radius: 33px 33px 0 0;
}

.rounded-45 {
    border-radius: 45px;
}

.rounded-t-54 {
    border-radius: 54px 54px 0 0;
}
.rounded-100 {
    border-radius: 100px;
}
/* z index */
.-z-1 {
    z-index: -1;
}

.-z-0 {
    z-index: 0;
}

.z-0 {
    z-index: 1;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

/* padding */

.py-13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.px-19 {
    padding-left: 19px;
    padding-right: 19px;
}

.py-33 {
    padding-top: 33px;
    padding-bottom: 33px;
}

.px-28 {
    padding-left: 28px;
    padding-right: 28px;
}

/* color */
.text-main {
    color: #E0880F !important
}

.text-second {
    color: #4834AC;
}

.text-gray {
    color: #8e95a3;
}

.text-gray2 {
    color: #bbbbbb;
}

.text-gray-gradient {
    background: -webkit-linear-gradient(#555555, rgba(0, 0, 0, 0.89));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-black {
    color: #000000;
}

/* border */

.border-main-gradient {
    border: 3px solid #f9ebd8;
}
.border-main-gradient-7 {
    border: 7px solid #f9ebd8;
}
.border-main-gradient-7-transparent {
    border: 7px solid #ffbf6747;
  }
.border-main{
    border: 1px solid #e0880f;
}
.border-b-main-6{
    border-bottom: 6px solid #e0880f;
}
.border-l-main-6{
    border-left: 6px solid #e0880f;
}
.border-dash-r-2 {
    border-right: 2px dashed #e0880f;
}

.border-t-dash {
    border-top: 2px dashed rgb(213, 213, 213);
}
.border-b-dash {
    border-bottom: 2px dashed rgb(213, 213, 213);
}
/* box shadow */
.shadow1 {
    box-shadow: 0px 0px 26.399999618530273px 0px #00000040;
}

.shadow2 {
    box-shadow: 0px 0px 43.01886749267578px 0px #0000001A;
}

.shadow5 {
    box-shadow: 0px -4px 53px -15px #00000026;
}

.shadow6 {
    box-shadow: 0px -4px 53px 0px #00000012;
}

.shadow-blog {
    box-shadow: -17px 9px 39px #e2942a;
}

.shadow-desc {
    box-shadow: 9px 9px 39px #e2942a;
}

/* top */

.-top-103 {
    top: -103px;
}

.-top-97 {
    top: -97px
}

.-top-88 {
    top: -88px;
}
.top-87 {
    top: 87px;
}
.top-85 {
    top: 85px;
}

.-top-80 {
    top: -80px;
}

.top-53 {
    top: 53px;
}

.top-43 {
    top: 43%;
}

.top-39 {
    top: 39px;
}

.-top-36 {
    top: -36px;
}

.-top-33 {
    top: -32.5px;
}

.-top-27 {
    top: -27px;
}
.top-27 {
    top: 27%;
}
.-top-25 {
    top: -25px;
}
.-top-23 {
    top: -23px;
}
.-top-17{
    top: -17px;
}
.-top-9 {
    top: -9px;
}

/* bottom */
.-bottom-50 {
    bottom: -50px;
}

.-bottom-40 {
    bottom: -40px;
}

.-bottom-39 {
    bottom: -39px;
}

.-bottom-27 {
    bottom: -27px;
}

.-bottom-15 {
    bottom: -15px;
}

.-bottom-11 {
    bottom: -11px;
}

.-bottom-5 {
    bottom: -5px !important;
}

/* right */

.-right-1 {
    right: -1px;
}

.-right-8 {
    right: -8px;
}

.right-12 {
    right: 12px;
}
.right-16 {
    right: 16px;
}
.right-22 {
    right: 22px;
}

.right-23 {
    right: 23px;
}

.right-53 {
    right: 53px;
}

.-right-119 {
    right: -119px;
}

.-right-121 {
    right: -121px;
}

.-right-145 {
    right: -145px;
}
.right-210 {
    right: 210px;
}
.-right-257 {
    right: -257px;
}

/* left */

.-left-6 {
    left: -6px;
}

.-left-10 {
    left: -10px;
}

.left-16 {
    left: 16px;
}

.left-20 {
    left: 20px;
}

.-left-47 {
    left: -47px;
}

.-left-20 {
    left: -20px;
}

/* line height */
.lh-24 {
    line-height: 24px;
}

.lh-32 {
    line-height: 32px;
}

.lh-34 {
    line-height: 34px;
}

/* background */

.bg-main {
    background: #E0880F;
}
.hover-main-bg:hover,.hover-main-bg.active{
    background-color: #E0880F!important;
    color: black!important;
}
.hover-main-bg:hover div svg:first-child path{
    fill: url(#paint0_linear_619_4086);
}
.hover-main-bg:hover div svg:last-child path,.hover-main-bg.active div svg:last-child path{
    stroke: white;
}
#profile .hover-main-bg:hover p,#profile .hover-main-bg.active p{
    color: white!important;
}
.bg-main2 {
    background: #e5ad5f;
}

.bg-main-gradient {
    background-image: linear-gradient(to bottom, #e0890fb5, #d6ad611a);
}

.bg-main-gradient2 {
    background-image: linear-gradient(to top, #F4D285, #FFFAF5);
}

.bg-main-gradient3 {
    background-image: linear-gradient(to top, rgba(214, 173, 97, 1), #FFFAF5);
}

.bg-main-gradient4 {
    background-color: #D6AD61;
}
.bg-main-gradient5 {
    background-image: linear-gradient(to bottom, #fff6e9b5, #ffffff1a);
  }

.bg-black {
    background-color: #242424;
}
.bg-black-transparent{
    background-color: #0000007a;
}

.bg-second {
    background: #1B190F;
}

.bg-second2 {
    background-color: rgba(34, 34, 34, 0.9);
}

.bg-secondary2 {
    background-color: #68635d;
}

.bg-gray {
    background-color: #D9D9D9;
}

.bg-gray2 {
    background-color: #f5f5f5;
}

.bg-gray4 {
    background-color: #CCCCCC;
}

.bg-white-transparent {
    background: #FFFFFF24;
}

/* font size */
.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-26 {
    font-size: 26px;
}

.fs-32 {
    font-size: 32px;
}

.fs-36 {
    font-size: 36px;
}

.fs-40 {
    font-size: 40px;
}
.fs-49 {
    font-size: 49px;
}
.fs-64 {
    font-size: 64px;
}

.fs-123 {
    font-size: 123px;
}
/* max width */

.max-w-507 {
    max-width: 507px;
    width: 100%;
}
.max-w-644 {
    max-width: 644px;
    width: 100%;
}
.max-w-690 {
    max-width: 690px;
    width: 100%;
}

/* width */
.w-10 {
    width: 10px;
}
.w-15 {
    width: 15px;
}

.w-18 {
    width: 18px;
}

.w-20 {
    width: 20px;
}

.w-22 {
    width: 22px;
}

.w-23 {
    width: 23px;
}

.w-26 {
    width: 26px;
}
.w-28 {
    width: 28px;
}
.w-30 {
    width: 30px;
}

.w-34 {
    width: 34px;
}

.w-36 {
    width: 36px;
}

.w-38 {
    width: 38px;
}

.w-40 {
    width: 40px;
}

.w-51 {
    width: 51px;
}

.w-53 {
    width: 53px;
}

.w-55 {
    width: 55px;
}

.w-61 {
    width: 61px;
}

.w-64 {
    width: 64px;
}
.w-67 {
    width: 67px;
}
.w-73 {
    width: 73px;
}
.w-76 {
    width: 76px;
}

.w-84 {
    width: 84px;
}

.w-85 {
    width: 85%;
}
.w-86 {
    width: 86px;
}

.w-90 {
    width: 90%;
}
.w-92 {
    width: 92%;
}
.w-96 {
    width: 96%;
}

.w-93 {
    width: 93%;
}

.w-113 {
    width: 113px;
}

.w-126 {
    width: 126px;
}

.w-133 {
    width: 133px;
}

.w-138 {
    width: 138px;
}
.w-146 {
    width: 146px;
}
.w-150 {
    width: 150px;
}

.w-155 {
    width: 155px;
}

.w-160 {
    width: 160px;
}

.w-190 {
    width: 190px;
}

.w-200 {
    width: 200px;
}

.w-240 {
    width: 240px;
}

.w-362 {
    width: 362px;
}

.w-380 {
    width: 380px;
}

.w-452 {
    width: 452px;
}

.w-564 {
    width: 564px;
}

/* height */

.h-8 {
    height: 8px;
}
.h-9 {
    height: 9px;
}
.h-10 {
    height: 10px;
}
.h-11 {
    height: 11px;
}

.h-12 {
    height: 12px;
}

.h-16 {
    height: 16px;
}
.h-17 {
    height: 17px;
}
.h-18 {
    height: 18px;
}

.h-20 {
    height: 20px;
}

.h-22 {
    height: 22px;
}

.h-23 {
    height: 23px;
}

.h-24 {
    height: 24px;
}

.h-26 {
    height: 26px;
}
.h-28 {
    height: 28px;
}

.h-32 {
    height: 32px;
}

.h-34 {
    height: 34px;
}

.h-36 {
    height: 36px;
}

.h-38 {
    height: 38px;
}

.h-40 {
    height: 40px;
}

.h-46 {
    height: 46px;
}

.h-48 {
    height: 48px;
}

.h-51 {
    height: 51px;
}

.h-52 {
    height: 52px;
}

.h-55 {
    height: 55px;
}

.h-61 {
    height: 61px;
}

.h-65 {
    height: 65px;
}
.h-67 {
    height: 67px;
}
.h-71 {
    height: 71px;
}
.h-73 {
    height: 73px;
}
.h-76 {
    height: 76px;
}

.h-78 {
    height: 78px;
}

.h-80 {
    height: 80px;
}

.h-84 {
    height: 84%;
}

.h-94 {
    height: 94%;
}

.h-95 {
    height: 95%;
}

.h-96 {
    height: 96px;
}
.h-104 {
    height: 104%;
}
.h-111 {
    height: 111%;
}
.h-113 {
    height: 113px;
}

.h-116 {
    height: 116px;
}
.h-126 {
    height: 126px;
}

.h-141 {
    height: 141px;
}

.h-161 {
    height: 161px;
}

.h-184 {
    height: 184px;
}

.h-196 {
    height: 196px;
}

.h-200 {
    height: 200px;
}

.h-344 {
    height: 344px;
}

.h-564 {
    height: 564px;
}

.h-727 {
    height: 727px;
}

/* font weight */
.fw-300 {
    font-weight: 300;
}

.fw-medium {
    font-weight: 600;
}

/* margin top */
.-mt-4 {
    margin-top: -4px;
}
.-mt-25 {
    margin-top: -25px;
}
.-mt-46{
    margin-top: -46px;
}
.-mt-63{
    margin-top: -63px;
}

.-mt-71 {
    margin-top: -71px;
}
.-mt-89 {
    margin-top: -89px;
}

.-mt-174 {
    margin-top: -174px;
}

.mt-245 {
    margin-top: 245px;
}

/* margin bottom */
.-mb-108 {
    margin-bottom: -108px;
}

.-mb-656 {
    margin-bottom: -656px;
}

/* margin right */
.-mr-6 {
    margin-right: -6px;
}
.-mr-222 {
    margin-right: -222px;
}

/* transition */
.transition {
    transition: all .4s;
}

/* transform */

.rotate-10 {
    transform: rotate(10deg);
}

.rotate-17 {
    transform: rotate(17deg);
}

/* audio player */
.audioplayer {
    height: 67px !important;
    border-radius: 49px !important;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause {
    border: none !important;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    border-left: 12px solid #000 !important;
}

.audioplayer-time {
    color: black !important;
    margin-left: 17px !important;
}

.audioplayer-volume-button a::before {
    border-right: 9px solid #000;
}

.audioplayer-bar-played {
    height: 5px;
    background: #808080;
}

.audioplayer-bar::before {
    height: 5px;
    background-color: #D9D9D9;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-bar-played::after {
    display: none;
}

.audioplayer-volume-adjust>div {
    display: none;
}

/* global styles */
.outline-none {
    outline: none;
}

.opacity-none {
    opacity: 0;
}

.opacity-30 {
    opacity: .3;
}

.opacity-50 {
    opacity: .5;
}

.opacity-80 {
    opacity: .8;
}

.opacity-92 {
    opacity: .92;
}

.opacity-96 {
    opacity: .96;
}

.resize-none {
    resize: none;
}

.cursor-pointer {
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}

.swiper-pagination-bullet-active {
    width: 33px !important;
    height: 6px;
    border-radius: 60px;
    background: black !important;
}

#products .swiper-button-next,
#blog .swiper-button-next {
    top: 31px;
    right: auto;
    left: 33px;
}

#products .swiper-button-prev,
#blog .swiper-button-prev {
    top: 31px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 6px;
    border-radius: 60px;
}

.swiper-button-prev::after {
    content: url('../img/arrow.png');
}

.swiper-button-next::after {
    content: url('../img/arrow.png');
    transform: rotate(180deg);
}
.banner .swiper-button-prev::after,.banner .swiper-button-next::after {
  display: none;
}
.nav-link.active {
   background-color: #e0880f!important;
   border-color: transparent!important;
}
.nav-link{
    border-top-left-radius: 25px!important;
    border-top-right-radius: 25px!important;
    background-color: #e5ad5f!important;
}
.nav-tabs .nav-link:hover {
   border-color: transparent!important;
}
.comment-tab::before{
    display: none;
}
#myTabContent .tab-pane::before{
    background: white;
    content: "";
    width: 25px;
    height: 25px;
    top: -10px;
    border-radius: 5px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
}
#myTabContent .tab-pane:first-child::before{
     right: 100px;
}
#myTabContent .tab-pane:nth-child(2):before{
    right: 289px;
}
#myTabContent .tab-pane:nth-child(3):before{
    right: 483px;
}
.form-check-input:checked{
    background-color:#EF9820;
    border-color:#EF9820;
}
/* accordion */
.accordion-content {
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}

.accordion-content.active {
    max-height: 2000px;
}

.accordion-btn svg.active {
    transform: rotate(180deg);
}

.productSwiperHover>div>p {
    transition: all .4s;
    max-height: 40px;
    height: 40px;
    overflow: hidden;
}

.productSwiperHover:hover>div>p {
    max-height: 0;
}

.productLinks {
    max-height: 0;
    overflow: hidden;
}

.productSwiperHover:hover .productLinks {
    max-height: 40px;
    overflow: visible;
}

/* header */
header .menu a.active,header .menu li:hover > a,header .menu li:hover > a path,header .menu li > a.active path{
    color: #e0880f!important;
    stroke: #e0880f;
    fill:#e0880f;
}

.dropdown2>li {
    display: none;
}

.dropdown2>li.active {
    display: flex;
}

.dropdowns {
    max-height: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    overflow: hidden;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    transition: all .5s;
}

.dropdowns.active {
    max-height: 2000px;
    margin-bottom: 26px !important;
    overflow: visible;
}

.dropdown2>li:first-child::before {
    right: 317px;
    top: -31px !important;
}

/* contact icons */
.dropdown2>li:first-child::before{
    content: '';
    position: absolute;
    background-color: #ffffff;
    content: "";
    width: 18px;
    height: 18px;
    left: 23px;
    top: 39px;
    border-radius: 5px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
}

footer {
    background-image: url('../img/footerBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footerOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1B0F00D1;
    border-radius: 54px 54px 0 0;
}

@media only screen and (max-width:1400px) {
    .dropdown2>li:first-child::before {
        right: 239px;
        ;
    }

    .w-362 {
        margin-top: -23px;
    }
}

@media only screen and (max-width:1200px) {

    header .position-sm-static {
        position: static !important;
    }

    header .w-92 {
        width: auto;
    }

    #mobileMenu::before {
        content: '';
        position: absolute;
        background: #FFFAF5;
        content: "";
        width: 25px;
        height: 25px;
        right: 25px;
        top: -10px;
        border-radius: 5px;
        position: absolute;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -o-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
        -webkit-transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
    }

    #mobileMenu {
        padding: 21px 0;
        top: 119px;
        z-index: 29;
        display: none;
    }

    #mobileMenu.active {
        display: block !important;
    }

    .accordionBtn .bi-chevron-up {
        transition: all .4s;
    }

    .accordionBtn .bi-chevron-up.active {
        transform: rotate(180deg);
    }

    .accordionContent {
        transition: all .4s;
        max-height: 0;
        overflow: hidden;
    }

    .accordionContent.active {
        max-height: 2000px;
    }

    #contact {
        margin-top: 450px;
    }

    #customer {
        margin-top: 0;
    }

    .w-362 .-top-33 {
        top: -15.5px;
    }

    .h-xl-auto {
        height: auto;
    }

    .h-xl-442 {
        height: 442px;
    }

    .w-xl-442 {
        width: 442px;
    }

    .w-xl-auto {
        width: auto !important;
    }

    .top-xl-0 {
        top: 0;
    }

    #description>div:last-child,
    #comment .flex-grow-1 {
        width: 100%;
    }

    .-top-xl-57 {
        top: -57px;
    }

    .right-lg-0 {
        right: 0;
    }

    footer {
        padding-bottom: 206px !important;
    }
}

@media only screen and (max-width:992px) {
    header .py-27 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    header .px-28 {
        padding-left: 30px;
        padding-right: 30px;
    }

    #about {
        margin-top: 501px;
    }

    #about .col-lg-5 {
        z-index: -1;
        height: 0;
    }

    .productBg {
        background-image: url('../img/productbg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #contact .w-sm-100 {
        width: 100%;
    }
    .bg-lg-transparent{
        background-color: transparent!important;
    }
    .shadow-lg-none{
        box-shadow: none!important;
    }
    .border-b-lg-none{
        border-bottom: none!important;
    }

    .h-lg-auto {
        height: auto;
    }
    .h-lg-95 {
        height: 95px;
    }
    .w-lg-84 {
        width: 84%;
    }
    
    .w-lg-40 {
        width: 40px;
    }
    .top-lg-1{
        top: 1%;
    }

    .rounded-lg-20 {
        border-radius: 20px;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    .fs-lg-40 {
        font-size: 40px;
    }

    .fs-lg-79 {
        font-size: 79px;
    }
    
    .fs-lg-13 {
        font-size: 13px;
    }
    .h-lg-auto {
        height: auto;
    }

    .-mb-lg-466 {
        margin-bottom: -466px;
    }
}

@media only screen and (max-width:768px) {

    #mobileMenu::before {
        right: 33px;
    }

    .h-md-auto {
        height: auto;
    }

    .h-md-107 {
        height: 107px;
    }

    .w-md-78 {
        width: 78px;
    }
    .h-md-78 {
        height: 78px;
    }
    .-top-md-24 {
        top: -24px;
    }

    .shadow-md-none {
        box-shadow: none;
    }
    .rounded-md-15{
        border-radius: 15px!important;
    }
    .position-md-static{
        position: static!important;
    }
    .category .shadow2 {
        box-shadow: 0px 0px 27.728553771972656px 0px #0000001A;
    }

    .nav-pills .nav-link.active::after {
        width: 0;
        height: 0;
    }
    .fs-md-12 {
        font-size: 12px;
    }
    .fs-md-20 {
        font-size: 20px;
    }

    .w-md-91 {
        width: 91%;
    }
    .w-md-152{
        width: 152px;
    }
    #myTabContent .tab-pane::before{
        display: none;
    }
    footer {
        padding-bottom: 147px !important;
    }
}

@media only screen and (max-width:576px) {

    #pills-tabContent .max-w-200 {
        max-width: 98px;
    }

    .rounded-l-sm-0 {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .w-sm-107 {
        width: 107px;
    }
    .w-sm-100 {
        width: 100%;
    }
    .w-sm-94 {
        width: 94px;
    }
    .w-sm-84 {
        width: 84%;
    }

    .w-sm-75 {
        width: 75%;
    }

    .w-sm-70 {
        width: 70px;
    }

    .w-sm-40 {
        width: 40px;
    }
    .h-sm-56 {
        height: 56px;
    }

    .h-sm-40 {
        height: 40px;
    }

    .h-sm-33 {
        height: 33px;
    }
    .fs-sm-9 {
        font-size: 9px;
    }
    .fs-sm-10 {
        font-size: 10px;
    }

    .fs-sm-11 {
        font-size: 11px;
    }
    .fs-sm-12 {
        font-size: 12px;
    }
    .fs-sm-13 {
        font-size: 13px;
    }

    .fs-sm-14 {
        font-size: 14px;
    }

    .fs-sm-16 {
        font-size: 16px;
    }

    .fs-sm-20 {
        font-size: 20px;
    }
    .fs-sm-24 {
        font-size: 24px;
    }
    .fs-sm-28 {
        font-size: 28px;
    }

    .fs-sm-40 {
        font-size: 40px;
    }

    .-bottom-sm-17 {
        bottom: -17px;
    }

    .-mb-sm-616 {
        margin-bottom: -616px;
    }

    .audioplayer {
        height: 44px !important;
    }

    .-top-sm-238 {
        top: -238px;
    }

    .top-sm-365 {
        top: 365px;
    }

    .right-sm-15 {
        right: 15px;
    }

    .right-sm-0 {
        right: 0 !important;
        left: auto !important;
    }

    .z-sm-10 {
        z-index: 10;
    }
    .w-sm-100{
        width: 100%!important;
    }
    .lh-sm-26{
        line-height: 26px;
    }
}

@media only screen and (max-width:400px) {
}